h1{font-size:35px;
font-color:blue
font-family: 'Lobster', cursive;
}

body{
    font-size: 20px;
    background-color: skyblue;
}

<style>
@font-face {
    font-family: 'Lobster', cursive;
    src: url(Anton-Regular.tff)
}
</style>


*{
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 60px;
    background-color: lightcoral;
}

nav p {
    font-family: arial;
    color: #222;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}
nav ul{
    float: left;
}

nav ul li {
    float: left;
    list-style: none;
    position: relative;
}

nav ul li a {
    font-family: arial;
    color: #222;
    font-size: 30px;
    padding: 20px 14px;
    text-decoration: none;
}

nav ul li ul {
    display: block;
    position: absolute;
    background-color: #fff;
}

nav ul li ul li a {
   padding: 8px 14px; 
}

nav ul li ul li a:hover {
    background-color: #f3f3f3;
 }
